In [3]:
# import 
import numpy as np
import pandas as pd

In [4]:
# read the file
df = pd.read_csv('./wine3.csv')

In [5]:
df.head()

,type,alcohol,malic,ash,alcalinity,magnesium,phenols,flavanoids,nonflavanoids,proanthocyanins,color,hue,dilution,proline,particular year
0,A,13.20,1.78,2.43,15.6,127.0,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065,22.0
1,A,13.20,1.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.38,1.05,3.4,1050,38.0
2,A,13.16,2.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.68,1.03,3.17,1185,26.0
3,A,14.37,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.80,0.86,3.45,1480,35.0
4,A,13.24,2.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.32,1.04,2.93,735,35.0

In [6]:
df.columns

Index(['type', 'alcohol', 'malic', 'ash', 'alcalinity', 'magnesium', 'phenols',
       'flavanoids', 'nonflavanoids', 'proanthocyanins', 'color', 'hue',
       'dilution', 'proline', 'particular year'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   type             178 non-null    object
 1   alcohol          178 non-null    float64
 2   malic            175 non-null    object
 3   ash              174 non-null    float64
 4   alcalinity       174 non-null    float64
 5   magnesium        174 non-null    float64
 6   phenols          9 non-null      float64
 7   flavanoids       174 non-null    float64
 8   nonflavanoids    174 non-null    float64
 9   proanthocyanins  174 non-null    float64
 10  color            178 non-null    float64
 11  hue              178 non-null    float64
 12  dilution         178 non-null    object
 13  proline          178 non-null    int64
 14  particular year  175 non-null    float64
dtypes: float64(11), int64(1), object(3)
memory usage: 21.0+ KB

In [8]:
df.describe()

,alcohol,ash,alcalinity,magnesium,phenols,flavanoids,nonflavanoids,proanthocyanins,color,hue,proline,particular year
count,178.000000,174.000000,174.000000,174.000000,9.000000,174.000000,174.000000,174.000000,178.000000,178.000000,178.000000,175.000000
mean,12.994831,2.362414,19.554598,99.551724,1.765556,2.005920,0.363333,1.580977,5.058090,0.957449,746.893258,30.307600
std,0.806669,0.273113,3.309010,14.342837,0.449697,0.996906,0.125188,0.568868,2.318286,0.228572,314.907474,15.517941
min,11.030000,1.360000,10.600000,70.000000,1.250000,0.340000,0.130000,0.410000,1.280000,0.480000,278.000000,0.830000
25%,12.362500,2.210000,17.200000,88.000000,1.590000,1.125000,0.270000,1.242500,3.220000,0.782500,500.500000,20.000000
50%,13.050000,2.360000,19.500000,97.500000,1.680000,2.100000,0.340000,1.545000,4.690000,0.965000,673.500000,29.000000
75%,13.662500,2.547500,21.500000,107.000000,1.800000,2.842500,0.447500,1.950000,6.200000,1.120000,985.000000,38.500000
max,14.830000,3.230000,30.000000,162.000000,2.800000,5.080000,0.660000,3.580000,13.000000,1.710000,1680.000000,71.000000

In [27]:
df

,type,alcohol,malic,ash,alcalinity,magnesium,phenols,flavanoids,nonflavanoids,proanthocyanins,color,hue,dilution,proline,particular year
0,A,13.20,1.78,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,22.0
1,A,13.20,1.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.38,1.05,3.4,1050,38.0
2,A,13.16,2.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.68,1.03,3.17,1185,26.0
3,A,14.37,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.80,0.86,3.45,1480,35.0
4,A,13.24,2.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.32,1.04,2.93,735,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,C,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,21.0
174,C,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,56.0
175,C,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,18.0
176,C,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,29.0
177,C,14.13,4.1,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.6,560,29.0

In [9]:
df_drop = df.dropna(axis=1,how='any',thresh=df.shape[0]*0.8)

In [10]:
df_drop

,type,alcohol,malic,ash,alcalinity,magnesium,flavanoids,nonflavanoids,proanthocyanins,color,hue,dilution,proline,particular year
0,A,13.20,1.78,2.43,15.6,127.0,3.06,0.28,2.29,5.64,1.04,3.92,1065,22.0
1,A,13.20,1.78,NaN,NaN,NaN,NaN,NaN,NaN,4.38,1.05,3.4,1050,38.0
2,A,13.16,2.36,NaN,NaN,NaN,NaN,NaN,NaN,5.68,1.03,3.17,1185,26.0
3,A,14.37,1.95,NaN,NaN,NaN,NaN,NaN,NaN,7.80,0.86,3.45,1480,35.0
4,A,13.24,2.59,NaN,NaN,NaN,NaN,NaN,NaN,4.32,1.04,2.93,735,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,C,13.71,5.65,2.45,20.5,95.0,0.61,0.52,1.06,7.70,0.64,1.74,740,21.0
174,C,13.40,3.91,2.48,23.0,102.0,0.75,0.43,1.41,7.30,0.70,1.56,750,56.0
175,C,13.27,4.28,2.26,20.0,120.0,0.69,0.43,1.35,10.20,0.59,1.56,835,18.0
176,C,13.17,2.59,2.37,20.0,120.0,0.68,0.53,1.46,9.30,0.60,1.62,840,29.0
177,C,14.13,4.1,2.74,24.5,96.0,0.76,0.56,1.35,9.20,0.61,1.6,560,29.0

In [18]:
df_p.items

<bound method Series.items of type                 0
alcohol              0
malic                3
ash                  4
alcalinity           4
magnesium            4
phenols            169
flavanoids           4
nonflavanoids        4
proanthocyanins      4
color                0
hue                  0
dilution             0
proline              0
particular year      3
dtype: int64>

In [12]:
from sklearn.impute import SimpleImputer
model_ss = SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [21]:
df_2 = model_ss.fit_transform(df_drop[[c for c in df_drop.columns]])

In [22]:
df_2

array([['A', 13.2, '1.78', ..., '3.92', 1065, 22.0],
       ['A', 13.2, '1.78', ..., '3.4', 1050, 38.0],
       ['A', 13.16, '2.36', ..., '3.17', 1185, 26.0],
       ...,
       ['C', 13.27, '4.28', ..., '1.56', 835, 18.0],
       ['C', 13.17, '2.59', ..., '1.62', 840, 29.0],
       ['C', 14.13, '4.1', ..., '1.6', 560, 29.0]], dtype=object)

In [24]:
df_2 = pd.DataFrame(data=df_2,columns=[[c for c in df_drop.columns]])

In [25]:
df_2

,type,alcohol,malic,ash,alcalinity,magnesium,flavanoids,nonflavanoids,proanthocyanins,color,hue,dilution,proline,particular year
0,A,13.2,1.78,2.43,15.6,127.0,3.06,0.28,2.29,5.64,1.04,3.92,1065,22.0
1,A,13.2,1.78,2.28,20.0,88.0,2.65,0.43,1.35,4.38,1.05,3.4,1050,38.0
2,A,13.16,2.36,2.28,20.0,88.0,2.65,0.43,1.35,5.68,1.03,3.17,1185,26.0
3,A,14.37,1.95,2.28,20.0,88.0,2.65,0.43,1.35,7.8,0.86,3.45,1480,35.0
4,A,13.24,2.59,2.28,20.0,88.0,2.65,0.43,1.35,4.32,1.04,2.93,735,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,C,13.71,5.65,2.45,20.5,95.0,0.61,0.52,1.06,7.7,0.64,1.74,740,21.0
174,C,13.4,3.91,2.48,23.0,102.0,0.75,0.43,1.41,7.3,0.7,1.56,750,56.0
175,C,13.27,4.28,2.26,20.0,120.0,0.69,0.43,1.35,10.2,0.59,1.56,835,18.0
176,C,13.17,2.59,2.37,20.0,120.0,0.68,0.53,1.46,9.3,0.6,1.62,840,29.0
177,C,14.13,4.1,2.74,24.5,96.0,0.76,0.56,1.35,9.2,0.61,1.6,560,29.0

In [ ]:
df_drop = df.dropna(axis=1, how='any', thresh=)